
.multicol {
  column-count: auto;
}

/* header backgtound / foreground */
.AppButton2 {
  background-color: #bbbbbb;
  color:            #fff;
  border-color:     #8392c9;
}

.AppFgH { background: #ffffff; color:black}
.AppBgH { background: #6b7ec5; color:white }
.AppTabGroup {
  background: #7080c0;
  color:white;
  display: flex;
  width: 100%;
  font-family: Kanit, sans-serif;
  font-size: 1.2em;
  align-items: center;
  justify-content: space-evenly;
}
.AppTabSelected   { background: #f5f5f5; color:rgb(0, 0, 0) }
.AppTabUnselected { background: #5164aa; color:white }
.AppBody          { background: #7080c0; color:rgb(0, 0, 0) }
.AppFooter        { background: #7080c0; color:rgb(121, 121, 121) }
.AppList          { background: #f5f5f5; color:rgb(0, 0, 0) }
.AppCard          { background: #ffffff; color:rgb(0, 0, 0); width: 10rem; }
.AppRight         { text-align: right; }

.AppImage {
  width: 100px;            /* 親要素(div)(表示領域)の50%幅 */
  height: auto;          /* 縦横比(アスペクト比)は元イメージに合わせる */
  border: thin solid #818181;
}
